* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
:root {
  --bg-color: #000000;
  --primary-text-color: #f4f4f4;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --bg-delete-color:#ff4d4d;

  /* padding */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-s: 5px;
  --pading-l: 15px;
  --padding-m: 10px;
  --padding-xl: 20px;
  --padding-xxl: 25px;

  /* boarder radius */
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 25px;
}
body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav button {
  background-color: var(--bg-button-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m) var(--pading-l);
  cursor: pointer;
  border-radius:var(--border-radius-m);
}
section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
   flex-grow: 1;
   gap: var(--padding-xxl);

}
section .task-column{
    background-color: var(--bg-button-color);
    flex-grow: 1;
    width: 100%;
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap:var(--padding-m);
    border-radius: var(--border-radius-m);
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.06;
}
section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--border-radius-m);
}
section .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grab;
}
section .task-column .task button{
     align-self: self-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border:none;
    outline:none;
    background-color: var(--bg-delete-color);
    color: var(--primary-text-color);
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal .center{
    background-color: var(--bg-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}
.modal.active{
    display: flex;
}
.modal .center input, .modal .center textarea{
background-color: var(--bg-button-color);
border: none;
outline: none;
color:var(--primary-text-color);
padding: var(--padding-m);
border-radius: var(--border-radius-m);

}
.modal .bg{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: #2c2c2c34;
    backdrop-filter: blur(5px);
}
.modal .center button{
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color:var(--primary-text-color);
    padding: var(--padding-m);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    width: fit-content;
    align-self: center;
}